body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */

    height: 100vh;
    width: 100vw;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;

}

.caja {
    display: grid;

    width: 100vw;
}

/* .top {
    border: 0.1em solid red;
    height: 4em;
    width: 100vw;
} */

h1 {

    text-align: center;
    padding: 1em;

}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* padding: 2em; */
    outline: none;

}

.boton {
    padding: 1em;
    width: 10em;
    height: 4em;
    text-align: center;
    color: white;
    background: linear-gradient(to top, rgba(255, 0, 0, 1), rgb(107, 22, 22), rgba(255, 0, 0, 1));
    border-radius: 25%;


}

a {
    outline: none;
    text-decoration: none;
}

.boton:hover {
    transform: scale(1.5);
    border: 0.2em solid rgba(255, 109, 4, 0.511);

}

.gameboy {

    height: 20em;
    width: 50em;



    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;




}


.col {
    /* border: 0.1em solid rgb(1, 245, 34); */


}

.col-medio {
    flex: 4;
    background-color: black;
    border-radius: 5%;
    position:relative;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.pantalla-apagada{
    position: absolute;
    background: rgb(41,41,41);
    background: linear-gradient(0deg, rgba(41,41,41,1) 59%, rgba(255,255,255,1) 62%, rgba(42,41,41,1) 64%);
    height: 15em;
    width: 25em;
    z-index: 100;
    margin-bottom: 1.5em;
   
}



/* lateral izquierdo */

.col-l {

    display: flex;
    justify-content: end;
    flex-direction: row;
    height: auto;
    width: auto;



}

.collateralizq {
    height: 20em;

}

.exterior {

    width: 3.03em;
    /* border: 0.2em solid blue; */

}

.interior {

    width: 5em;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cuadroSI {
    display: flex;
    flex-direction: row;


    /* background-color: black; */

    height: 2.5em;

}

.fondocurvatopi {

    height: 100%;
    width: 100%;

    background-color: blueviolet;
    border-radius: 100% 0% 100% 0% / 0% 31% 69% 100%;
    height: 2.5em;

}

.fondocurva {
    width: 5em;
    /* z-index: 1; */

    background-color: rgb(0, 0, 0);
}

.medio {
    background-color: black;
    height: 15em;
 
}

.cuadroII {

    height: 2.5em;

    display: flex;
    flex-direction: row;
}

.fondocurvaabajoi {

    height: 100%;
    width: 100%;

    background-color: blueviolet;
    border-radius: 0% 100% 0% 100% / 100% 75% 25% 0%;
    height: 2.5em;

}


.bordesexternosi{
    
    height: 14.9em;
    background-color: black;
    border-radius: 0% 100% 100% 0% / 0% 52% 48% 100%;
    rotate: 180deg;
   justify-content: baseline;

}

/* lateral derecho */

.col-r   {

    display: flex; 
    justify-content:flex-end ;
     
     
    flex-direction: row-reverse;
    margin-bottom: 5px;

}

.collateralder.interior{
    height: 20em;
    
   

}

.cuadroSD {

    height: 2.5em;

    display: flex;
    flex-direction: row;
   

}

.fondocurvatopd {

    height: 100%;
    width: 100%;

    background-color: blueviolet;
    border-radius:0% 100% 0% 100% / 32% 0% 100% 68%;
    height: 2.5em;
     

}
.cuadroID {

    height: 2.5em;

    display: flex;
    flex-direction: row;
     

}

.fondocurvaabajod{
    
    
    height: 100%;
    width: 100%;

    background-color: blueviolet;
    border-radius:100% 0% 100% 0% / 80% 100% 0% 20%;
    height: 2.5em;



}

.collateralder.exterior{
    
    height: 20em;
    
}

.bordesexternos{
    
    height: 15em;
    background-color: black;
    border-radius: 0% 100% 100% 0% / 0% 52% 48% 100%;
}

 .vacioexterior {
    
    height: 2.5em;  
}

