body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo6comprimido.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */

    height: 100vh;
    width: 100vw;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;

}

.home{

    width: 8em ;
    height: 2em;
    background-color: red;
    border-radius: 30%;
    color: #ffffff;
    border: 0.2em solid black;
    box-shadow: 3px 3px 0px black;
    font-size: 25px;
    font-weight:bold;

    position: relative;
    top: 50px;
    left: 340px;

    text-align: center;
    text-shadow: 2px 2px 2px black;
    
}
.home:hover{

    transform: scale(1.5);
    border: 0.2em solid rgba(255, 109, 4, 0.511);
   
}

.caja {
    display: grid;

    width: 100vw;
} 
h1 {

    text-align: center;
    padding: 1em; 
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* padding: 2em; */
    outline: none;

}

.boton {
    padding: 1em;
    width: 10em;
    height: 4em;
    text-align: center;
    color: white;
    background: linear-gradient(to top, rgba(255, 0, 0, 1), rgb(107, 22, 22), rgba(255, 0, 0, 1));
    border-radius: 25%; 
}

a {
    outline: none;
    text-decoration: none;
}

.boton:hover {
    transform: scale(1.5);
    border: 0.2em solid rgba(255, 109, 4, 0.511);

}

.gameboy {

    height: 20em;
    width: 50em;



    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;

}



.col-medio {
    flex: 4;
    background-color: black;
    border-radius: 5%;
    position: relative;
    width: 20em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.brillopantalla.top{
    position: absolute;
    height:3px;
    width: 29em;
    filter: blur(3px);
    z-index: 100;
    /* border-radius: 50%; */
    background: linear-gradient(0deg,rgba(0,0,0,0) 0%, #ffffff 40%, rgba(6,6,6,0) 80%);
    top: 10px;   
}
.brillopantalla.bottom{
    position: absolute;
    height:5px;
    width: 29em;
    filter: blur(3px);
    z-index: 100;
    /* border-radius: 50%; */
    background: linear-gradient(0deg,rgba(0,0,0,0) 0%, #ffffff 40%, rgba(6,6,6,0) 80%);
    top: 310px;
    
    
}

.pantalla-apagada {
    position: relative;
    
    background: radial-gradient(circle at 100% 100%, #212325 0%, #46494f 50%, #46494f 50%, #212325 80%);
    filter: blur(2px);
    left: -4px;
    
    height: 16em;
    width: 28em;
    z-index: 50;
    margin-bottom: 1.5em;
    margin-left: 0.5em;
    border-top: 10px solid #161616;
    border-right: 10px solid #303030;
    border-bottom: 10px solid #181818;
    border-left: 10px solid #303030;
}

 

/* lateral izquierdo */

.col-l {

    display: flex;
    justify-content: end;
    flex-direction: row;
    height: auto;
    width: auto;

    position: relative;
}

.collateralizq {
    height: 20em;

}

.exterior {

    width: 3.03em;
    /* border: 0.2em solid blue; */

}

.interior {

    width: 5em;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cuadroSI {
    display: flex;
    flex-direction: row;

    height: 2.5em;
    position: relative;
    z-index: -200;

}
 

.medio {
    background-color: black;
    height: 15em;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.efectofondo{
    position: absolute;
    width: 30em;
    height: 21em;
    background-color: gray;
    z-index: -1;
    border-radius: 10%;
    border:  0.2em ridge #161616 ; 
}

/* pala y curva de SUPERIOR IZQUIERDA */

.bordesi{
    height: 2em;
    width: 5em;
    position: absolute;
    background-color:transparent;
    z-index: -50;
    top: 9px;
    left: 0px;
    border-radius:
    100% 0% 100% 0% / 0% 9% 91% 100%;
    box-shadow: 10px 14px 0px 10px black;  
}
.cajapala.si{
    position: absolute;
    height: 3em;
    width: 7em;
    background-color: rgba(231, 227, 227, 0.70);
    z-index:-300;
    border: 1px solid black;
    border-radius: 200px 0px 0px 0px;
    
    top: 3px;
    left: -104px;
}
 

/* pala y curva de INFERIOR IZQUIERDA */
.bordeii{
    height: 2em;
    width: 5em;
    position: absolute;
    background-color:transparent;
    z-index: -50;
    top: 309px;
    left:54px;
    border-radius:
    100% 0% 100% 0% / 0% 9% 91% 100%;
    box-shadow: 10px 14px 0px 10px rgb(0, 0, 0);  
    transform: scaleX(-1);
    rotate: 180deg;
}

.cajapala.ii{
    position: absolute;
    height: 3em;
    width: 7em;
    background-color: rgba(231, 227, 227, 0.70);
    z-index:-100;
    border: 1px solid black;
    border-radius: 200px 0px 0px 0px;
    
    top: 300px;
    left: -100px;
    transform: scaleY(-1);
}

/* pala y curva de SUPERIOR DERECHA */

.bordesd{
    height: 2em;
    width: 5em;
    position: absolute;
    background-color:transparent;
    z-index: -100;
    top: 8px;
    left:-1px;
    border-radius:
    100% 0% 100% 0% / 0% 9% 91% 100%;
    box-shadow: 10px 14px 0px 10px rgb(0, 0, 0);  
    transform: scaleX(-1);
    rotate: 0deg;
}

.cajapala.sd{
    position: absolute;
    height: 3em;
    width: 7em;
    background-color: rgba(231, 227, 227, 0.70);
    z-index:-100;
    border: 1px solid black;
    border-radius: 200px 0px 0px 0px;
    
    top: 0px;
    left: 548px;
    transform: scaleX(-1);
}

/* pala y curva de inferior DERECHA */

.bordeid{
    height: 2em;
    width: 5em;
    position: absolute;
    background-color:transparent;
    z-index: -100;
    top: 309px;
    left: 0px;
    border-radius:
    100% 0% 100% 0% / 0% 9% 91% 100%;
    box-shadow: 10px 14px 0px 10px rgb(0, 0, 0); 
    rotate: 180deg; 
}
.cajapala.id{
    position: absolute;
    height: 3em;
    width: 7em;
    background-color: rgba(231, 227, 227, 0.70);
    z-index:-300;
    border: 1px solid black;
    border-radius: 200px 0px 0px 0px;
    
    top: 296px;
    left: 550px;
    rotate: 178deg;
}

/* fin de palas y bordes */
/* ------------------------------------------ */
/* botones de encendido */
 

.power{
    height: 9px;
    width: 9px;
    background-color: rgb(0, 211, 25);
    position: absolute;
  
    z-index: 100;
    border-radius: 50%;
    top: 200px;
    left:90px;
}

.powertext{
 
    position: absolute;
    color: white;
    font-size: 10PX;

    top: -3px;
    left:-40px;
}

.hold{
    height: 9px;
    width: 9px;
    background-color: rgb(255, 174, 12);
    position: absolute;
     
    z-index: 100;
    border-radius: 50%;
    top: 235px;
    left:82px;
}

.holdtext{
 
    position: absolute;
    color: white;
    font-size: 10PX;

    top: -3px;
    left:-32px;
}

.wifi{

    height: 9px;
    width: 9px;
    background-color: rgb(255, 174, 12);
    position: absolute;
     
    z-index: 100;
    border-radius: 50%;
    top: 235px;
    left:-665px;
}

.wifibox{

    width: 35px;
    height: 3em;
    background-image: url(../img/wifi.png);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    z-index: 100;
    color: white;
    font-size: 10PX;

    top: -17px;
    rotate: 45deg;

     
}

.psplogo{
    width: 100px;
    height: 50px;
    background-image: url(../img/psp.png);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    z-index: 200;
    color: white;
    font-size: 10PX;

    top: 270px;
    right: 300px;

}

/* fin de botone de encendido */
.sony{
     
    width: 100px;
    height: 100px;
     
    z-index: 100;
    position: absolute;
    top: 52px;
    left: 69px;
   
    background-image: url(../img/Sony.png);
    background-size:contain;
    background-repeat: no-repeat;
}
/* botones abajo psp y encendido */

.botdown.psp{
    position: absolute;
    z-index: 105;
    width: 3.2em;
    height: 1.2em;
    background-color: gray;
    border: 0.2em groove black;

    top:325px;
    right: 480px;
    
    border-radius: 150px 150px 179px 179px;

    background-image: url(../img/logopsp.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.START{
    font-size: 15px;
    color: white;
    text-shadow: -1px  1px 1px black;
    position: relative;
    top: -4px;
    left: 6px;
}

.botdown.encendido{
    position: absolute;
    z-index: 105;
    width: 3.2em;
    height: 1.2em;
    background-color: gray;
    border: 0.2em groove black;
    
    top:325px;
    right: 29px;
    
    border-radius: 150px 150px 179px 179px;

     
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* botones cruz */
.joy{
    height: 4em;
    width: 4em;

    position: absolute;
    z-index: 103;
    border-radius: 50%;
    top: 185px;
    left: 40px;

    background-image: url(../img/joy.jpg);
    background-size: contain;
    rotate:45deg;
    border: 0.2em ridge rgb(123, 123, 123);
    transition: 0.1s;
}

.joy:hover{
    left: 45px;
    top: 189px;
    transition: 0.1s;
}

.botoncruz.izquierdo {

    height: 7em;
    width: 7em;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background: radial-gradient(circle farthest-corner at center center, #abaaaa 5%, #262626 65%);;
    right: -20px;
    top: 45px;
    border: 0.2em groove black;
}


.botoncruz.derecho {

    height: 7em;
    width: 7em;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background: radial-gradient(circle farthest-corner at center center, #abaaaa 5%, #262626 65%);
    left: -20px;
    top: 45px;
    border: 0.2em groove black;

}

.letraTOP{
    width: 40px;
    height: 20px;
    position: absolute;
    background-image: url(../img/triangulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;

    top:2px;
    left: 46px;

}

.letraRIGHT{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 100;

    top:51px;
    left: 101px;
    border: 2px solid white;
    border-radius: 50%;

}

.letraBOTTOM{
    width: 35px;
    height: 35px;
    position: absolute;
    background-image: url(../img/x.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;

    top:90px;
    left: 45px;

}
.letraLEFT{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 104;

    top: 50px;
    left:5px;
    border: 2px solid white;
   


}


/* comando flechas */
/* flecha arriba  */
.arrowTop {
    position: relative;
}

.arrowTop:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 28px;
    height: 28px;
    bottom: -11px;
    rotate: 45deg;
    border-radius: 20%  0% 20% 00%;

    background: #515050;
    top: 22px;
    left: 47px;

    
    border-right: 2px solid #3e3d3d;
    border-bottom: 2px inset #e4e4e4;
}

.arrowTop:after {
    content: " ";
    position: absolute;
    z-index: 2;
    left: 0;
    width: 40px;
    height: 35px;
    bottom: -11px;
    rotate: 0deg; 
    border-radius: 20% 20% 0% 0%;;

    background: #515050;
    top: 0px;
    left: 41px;

    border-right: 2px solid #3e3d3d;
    border-top: 2px inset #b5b5b5;
    border-left: 2px inset #e4e4e4;
}

.triangleT{
    width: 2em;
    height: 2em;
    position: absolute;
    background-image: url(../img/triangulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;

    top:10px;
    left: 43px;
}
/* flecha derecha */
.arrowRight {
    position: relative;
}

.arrowRight:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 28px;
    height: 28px;
    bottom: -11px;
    rotate: 135deg;
    border-radius: 20%  0% 20% 00%;

    background: #515050;
    top: 46px;
    left: 74px;

    border-right: 2px solid #e4e4e4;
    border-bottom: 2px inset #3e3d3d; 
}

.arrowRight:after {
    content: " ";
    position: absolute;
    z-index: 2;
    left: 0;
    width: 40px;
    height: 35px;
    bottom: -11px;
    rotate: 0deg; 
    border-radius: 20% 20% 0% 0%;;
    rotate: 90deg;

    background: #515050;
    top: 43px;
    left:85px;

    border-right: 2px solid #3e3d3d;
    border-top: 2px inset #b5b5b5;
    border-left: 2px inset #e4e4e4;
}

.triangleR{
    width: 2em;
    height: 2em;
    position: absolute;
    background-image: url(../img/triangulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;

    top:45px;
    left: 80px;
    rotate: 90deg;
}

/* flecha abajo */

.arrowBottom {
    position: relative;
}

.arrowBottom:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 28px;
    height: 28px;
    bottom: -11px;
    rotate: -135deg;
    border-radius: 20%  0% 20% 00%;

    background: #515050;
    top: 73px;
    left: 46px;

    border-right: 2px solid #e4e4e4;
    border-bottom: 2px inset #3e3d3d; 
}

.arrowBottom:after {
    content: " ";
    position: absolute;
    z-index: 2;
    left: 0;
    width: 40px;
    height: 35px;
    bottom: -11px;
    rotate: 0deg; 
    border-radius: 20% 20% 0% 0%;;
    rotate: 180deg;

    background: #515050;
    top: 88px;
    left:40px;

    border-right: 2px solid #e4e4e4;
    border-top: 2px inset #b5b5b5;
    border-left: 2px inset #3e3d3d;
}

.triangleB{
    width: 2em;
    height: 2em;
    position: absolute;
    background-image: url(../img/triangulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;

    top:80px;
    left: 43px;
    rotate: 180deg;
}

/* boton izquieda */


.arrowLeft {
    position: relative;
}

.arrowLeft:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 28px;
    height: 28px;
    bottom: -11px;
    rotate: -45deg;
    border-radius: 20%  0% 20% 00%;

    background: #515050;
    top: 45px;
    left: 19px;

    border-right: 2px solid #3e3d3d;
    border-bottom: 2px inset #e4e4e4; 
}

.arrowLeft:after {
    content: " ";
    position: absolute;
    z-index: 2;
    left: 0;
    width: 40px;
    height: 35px;
    bottom: -11px;
    rotate: 0deg; 
    border-radius: 20% 20% 0% 0%;;
    rotate: -90deg;

    background: #515050;
    top: 42px;
    left:-4px;

    border-right: 2px solid #3e3d3d;
    border-top: 2px solid #898888;
    border-left: 2px solid #fffefe;
}

.triangleL{
    width: 2em;
    height: 2em;
    position: absolute;
    background-image: url(../img/triangulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;

    top:42px;
    left:8px;
    rotate: -90deg;
}
/* botones derechos circulos */
.circleTop {
    position: relative;
}

.circleTop:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 45px;
    height: 45px;
    bottom: -11px;
    rotate: 45deg;
    border-radius: 20%  0% 20% 00%;
    border-radius: 50%;
    border: 0.2em groove rgb(175, 172, 172); 
    background: radial-gradient(ellipse farthest-corner at center center, #484444 40%, #b7b5b5 95%);
    top: -10px;
    left: 37px;

}

.circleRight:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 45px;
    height: 45px;
    bottom: -11px;
    rotate: 45deg;
    border-radius: 20%  0% 20% 00%;
    border-radius: 50%;
    border: 0.2em groove rgb(175, 172, 172); 
    background: radial-gradient(ellipse farthest-corner at center center, #484444 40%, #b7b5b5 95%);
    top: 35px;
    left: 85px;
}

.circleBottom:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 45px;
    height: 45px;
    bottom: -11px;
    rotate: 45deg;
    border-radius: 20%  0% 20% 00%;
    border-radius: 50%;
    border: 0.2em groove rgb(175, 172, 172); 
    background: radial-gradient(ellipse farthest-corner at center center, #484444 40%, #b7b5b5 95%);
    top: 85px;
    left: 39px;
}

.circletext{
    color:black;
     
}

.circleLeft:before {
    content: " ";
    position: absolute;
    z-index: 3;
    left: 0;
    width: 45px;
    height: 45px;
    bottom: -11px;
    rotate: 45deg;
    border-radius: 20%  0% 20% 00%;
    border-radius: 50%;
    border: 0.2em groove rgb(175, 172, 172); 
    background: radial-gradient(ellipse farthest-corner at center center, #484444 40%, #b7b5b5 95%);
    top: 35px;
    left: -11px;
}


 



/* fin */
.cuadroII {

    height: 2.5em;

    display: flex;
    flex-direction: row;
}

.fondocurvaabajoi {
    position: relative;
    z-index: -200;

    height: 100%;
    width: 100%;

    background-color: blueviolet;
    border-radius: 0% 100% 0% 100% / 100% 75% 25% 0%;
    height: 2.5em;

}

.bordesexternosi {

    height: 14.9em;
    background-color: black;
    border-radius: 0% 100% 100% 0% / 0% 52% 48% 100%;
    rotate: 180deg;
    justify-content: baseline;
 
   
}
 .brillo.left{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 70%;
    position: absolute;
    top: 0;
    box-shadow: 0 0 35px 0px rgba(255, 255, 255, 0.5);
    left: -25px;
}

.brillo.right{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 70%;
    position: absolute;
    top: 0;
    box-shadow: 0 0 35px 0px rgba(255, 255, 255, 0.5);
    left: -25px;
}
 
/* lateral derecho */

.col-r {

    display: flex;
    justify-content: flex-end;


    flex-direction: row-reverse;
    margin-bottom: 5px;
    position: relative;
    margin-right: 1.5em;

}

.collateralder.interior {
    height: 20em;



}

.cuadroSD {

    height: 2.5em;

    display: flex;
    flex-direction: row;


}

/* .fondocurvatopd {

    height: 100%;
    width: 100%;

    background-color: blueviolet;
    border-radius: 0% 100% 0% 100% / 32% 0% 100% 68%;
    height: 2.5em;


} */

.cuadroID {

    height: 2.5em;

    display: flex;
    flex-direction: row;


}

/* .fondocurvaabajod {


    height: 100%;
    width: 100%;

    background-color: blueviolet;
    border-radius: 100% 0% 100% 0% / 80% 100% 0% 20%;
    height: 2.5em;



} */

.collateralder.exterior {

    height: 20em;

}

.bordesexternos {

    height: 15em;
    background-color: black;
    border-radius: 0% 100% 100% 0% / 0% 52% 48% 100%;
    position: relative;
}

.vacioexterior {

    height: 2.5em;
}